*{
    box-sizing: border-box;
    margin: 1%;
}

.form-box{
    background-color:lightblue;
    display: inline-block;
    height: 80%;
    justify-content: center;
    margin: 5px 25%;
    min-width: 50%;
    padding: 15px 15px 15px 15px; 
}

.label{
    display: block;
    text-align: left;
    color: black;
    font-size: 20px;
}

.form-title{
    background-color: goldenrod;
    border-radius: 5px;
    color:black;
    font-size: 35px ;
    margin: 0 10px 10px 0;
    text-align: center;
    width: 100%;
}


.form-title-home{
    background-color: goldenrod;
    border-radius: 5px;
    color:black;
    font-size: 35px ;
    margin: 0 10px 10px 0;
    display: inline-block;
    height: 80%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.form-box input {
    border:1;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
    margin: 1px;
    width: 100%;
}

.form-box .btn-success{
    display: inline-block;
    margin: 20px 0 0 0;
}

.btn {
    background-color: goldenrod;
    border:1;
    border-radius: 5px;
    color: black;
    display: block;
    font-size: 20px;
    padding: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.mainMenuBtn {
    width: 100%;
    cursor: pointer;
}

.mainMenuBtn:hover, .btn-success:hover{
    background-color: darkblue;
    color: white;
    transition: 0.5s ease;
}

.status{
    background-color: white;
    border: none;
    border-color: grey;
    color: black;
    cursor: pointer;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    width: 100%;
}

